{% extends "base.html" %}
{% load sparc2_tags %}
{% block extra_head %}
<script>
    var map_config = {{ map_config_json|safe }};
    var popup_templates = {
        "popatrisk": "{{ "_includes/popup_template.html"|template2string|safe }}"
    };
</script>
{% endblock %}

{% block init %}
<script type="text/javascript" language="Javascript">
    $(function(){
        init_start("mainApp");
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include "_includes/header.html" %}
    <div
      id="sparc-main"
      class="row sparc-row sparc-main sparc-controller"
      ng-controller="sparc-main"
      data-controller-name="sparc-main"
      data-controller-type="sparc-main">
      {% include "_includes/sidebar.html" %}
      <div
        id="sparc-map"
        class="row sparc-row sparc-map sparc-controller"
        ng-controller="sparc-map"
        data-controller-name="sparc-map"
        data-controller-type="sparc-map">
        {% include "_includes/map_breadcrumb.html" %}
        {% include "_includes/map_legend.html" %}
        {% include "_includes/map_filter.html" %}
        {% include "_includes/map_sidebar_toggle.html" %}
        {% include "_includes/map_calendar.html" %}
        <div id="map"
          class="sparc-controller sparc-map-map"
          ng-controller="sparc-map-map"
          data-controller-name="sparc-map-map"
          data-controller-type="sparc-map-map">
        </div>
      </div>
    </div>
    {% block footer %}{% endblock %}
</div>
{% block extra_content %}{% endblock %}
{% endblock %}
