<nav
  class="sparc-map-calendar sparc-controller"
  ng-controller="sparc-map-calendar"
  data-controller-name="sparc-map-calendar"
  data-controller-type="sparc-map-calendar">
  <ul class="nav nav-justified sparc-radio-group">
    {% for m in MONTHS_ALL %}
    <li>
      {% if m.num == month_num %}
        <a
          class="btn btn-primary selected sparc-intent sparc-radio sparc-on"
          title="{{ m.long }}"
          href="{% url "countryhazardmonth_detail" iso3=iso3 hazard=hazard month=m.num%}"
          data-intent-name="stateChanged"
          data-intent-data="{&quot;month&quot;: {{ m.num }} }"
          data-intent-class-on="btn-primary selected"
          data-intent-class-off="btn-default">{{ m.short3| title }}</a>
      {% else %}
        <a
          class="btn btn-default sparc-intent sparc-radio"
          title="{{ m.long }}"
          href="{% url "countryhazardmonth_detail" iso3=iso3 hazard=hazard month=m.num%}"
          data-intent-name="stateChanged"
          data-intent-data="{&quot;month&quot;: {{ m.num }} }"
          data-intent-class-on="btn-primary selected"
          data-intent-class-off="btn-default">{{ m.short3| title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
