{% load sparc2_tags %}
<div
  class="sparc-map-legend sparc-controller"
  ng-controller="sparc-map-legend"
  data-controller-name="sparc-map-legend"
  data-controller-type="sparc-map-legend">
  <div class="sparc-map-legend-label">
    <a
      class="btn btn-lg btn-primary"
      style="border:0;"
      title="Legend"
      data-target="#sparc-map-legend-container"
      data-toggle="collapse">Legend - Click to Open</a>
  </div>
  <div id="sparc-map-legend-container" class="sparc-map-legend-container collapse" style="">
    <div class="sparc-map-legend-featurelayers">
      {% for key, layer in map_config.featurelayers.items|sortItemsByList:map_config.legendlayers %}
      {% if layer.legend %}
      <div class="sparc-map-legend-item noselect">
        <div class="sparc-map-legend-item-icon sparc-map-legend-item-more">
          <a data-toggle="modal" data-target="#sparc-layer-more-featurelayer-{{ forloop.counter0 }}">
            <i class="fa fa-info-circle"></i>
          </a>
        </div><!--
        --><div class="sparc-map-legend-item-icon sparc-map-legend-item-visibility">
             <a
               class="sparc-map-legend-item-visibility-button sparc-intent sparc-toggle"
               data-intent-names="[&quot;showLayer&quot;,&quot;hideLayer&quot;]"
               data-intent-data="{&quot;layer&quot;:&quot;{{ key }}&quot;}">
               <i class="fa fa-eye sparc-on"></i><i class="fa fa-eye-slash sparc-off"></i>
             </a>
           </div><!--
       --><div class="sparc-map-legend-item-icon sparc-map-legend-item-zoomto{% if layer.type != "geojson" %} fade disabled{% endif %}">
            <a
              class="sparc-map-legend-item-zoomto-button sparc-intent"
              data-intent-name="zoomToLayer"
              data-intent-data="{&quot;layer&quot;:&quot;{{ key }}&quot;}">
              <i class="fa fa-compress"></i>
            </a>
          </div><!--
        --><div class="sparc-map-legend-item-symbol">
          {% if layer.legend.symbol.type == "circle" %}
          <svg width="100%" height="100%" version="1.0" xmlns="http://www.w3.org/2000/svg">
            <circle
            cx="50%" cy="50%" r="{{ layer.legend.symbol.radius }}"
            fill="{{ layer.symbology.styles.default.color }}" stroke-width="1" stroke="#000000"></circle>
          </svg>
          {% elif layer.legend.symbol.type == "ellipse" %}
          <svg width="100%" height="100%" version="1.0" xmlns="http://www.w3.org/2000/svg">
            <ellipse
              cx="50%" cy="50%" rx="{{ layer.legend.symbol.width }}" ry="{{ layer.legend.symbol.height }}"
              fill="{{ layer.symbology.styles.default.color }}" stroke-width="1" stroke="#000000"></ellipse>
          </svg>
          {% elif layer.legend.symbol.type == "gradient" %}
          <a data-toggle="modal" data-target="#sparc-layer-legend-featurelayer-{{ forloop.counter0 }}">
            <svg width="{{ layer.legend.symbol.width }}px" height="100%" version="1.0" xmlns="http://www.w3.org/2000/svg">
            {% with numberOfColors=layer.symbology.colors|length %}
            {% for color in layer.symbology.colors %}
              {% with idx=forloop.counter0 %}
              <rect
                x="{{ idx|percent:numberOfColors }}%"
                y="0"
                width="{{ 1|percent:numberOfColors }}%"
                height="{{ layer.legend.symbol.height }}"
                fill="{{ color }}"
                stroke-width="1"
                stroke="#000000"/>
              {% endwith %}
            {% endfor %}
            {% endwith %}
            </svg>
          </a>
          {% elif layer.legend.symbol.type == "graphic" %}
          <a data-toggle="modal" data-target="#sparc-layer-legend-featurelayer-{{ forloop.counter0 }}">
            {% if layer.legend.symbol.preview %}
            <img src="{{ layer|legendGraphic }}"/>
            {% else %}
            <i class="fa fa-image" style="color:black; font-size: 20px;"></i>
            {% endif %}
          </a>
          {% endif %}
        </div><!--
        --><div class="sparc-map-legend-item-label">
          <span>{{ layer.legend.label }}</span>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <hr>
    <div class="sparc-map-legend-baselayers sparc-radio-group">
      {% for layer in map_config.baselayers %}
      {% if layer.legend %}
      <div class="sparc-map-legend-item noselect">
        <div class="sparc-map-legend-item-icon sparc-map-legend-item-more">
          <a data-toggle="modal" data-target="#sparc-layer-more-baselayer-{{ forloop.counter0 }}">
            <i class="fa fa-info-circle"></i>
          </a>
        </div><!--
        --><div class="sparc-map-legend-item-icon sparc-map-legend-item-visibility">
             <a
               class="sparc-map-legend-item-visibility-button sparc-intent sparc-radio{% if forloop.counter0 == 0 %} sparc-on{% endif %}"
               data-intent-name="switchBaseLayer"
               data-intent-data="{&quot;layer&quot;:&quot;{{ layer.id }}&quot;}"
               data-intent-class-on="sparc-on"
               data-intent-class-off="">
               <i class="fa fa-eye sparc-on"></i><i class="fa fa-eye-slash sparc-off"></i>
             </a>
           </div><!--
        --><div class="sparc-map-legend-item-symbol" style="width: 10px;"></div><!--
        --><div class="sparc-map-legend-item-label" style="width:calc(100% - 71px);">
          <span>{{ layer.legend.label }}</span>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div id="sparc-legend-modals" class="sparc-legend-modals">
    {% for key, layer in map_config.featurelayers.items|sortItemsByList:map_config.legendlayers %}
    {% with idx=forloop.counter0|stringformat:"i" %}
    {% with id="sparc-layer-more-featurelayer-"|add:idx %}
    {% include "_includes/modals/modal_layer_more.html" with id=id layer=layer %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
    {% for layer in map_config.baselayers %}
    {% with idx=forloop.counter0|stringformat:"i" %}
    {% with id="sparc-layer-more-baselayer-"|add:idx %}
    {% include "_includes/modals/modal_layer_more.html" with id=id layer=layer %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
    {% for key, layer in map_config.featurelayers.items|sortItemsByList:map_config.legendlayers %}
    {% with idx=forloop.counter0|stringformat:"i" %}
    {% with id="sparc-layer-legend-featurelayer-"|add:idx %}
    {% include "_includes/modals/modal_layer_legend.html" with id=id layer=layer %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
  </div>
</div>
