{% extends "sparc2/map.html" %}

{% block title %}SPARC - {{ country_title }} - {{ hazard_title }}{% endblock %}

{% block extra_head %}
{{ block.super }}
{% endblock %}

{% block sidebar_left %}
{% if hazard != "drought" %}
<div
  id="sparc-sidebar-left"
  class="geodash-sidebar geodash-sidebar-left geodash-controller"
  geodash-controller="sparc-sidebar-left"
  ng-controller="sparc-sidebar-left">
  <div sparc-sidebar-charts></div>
</div>
{% endif %}
{% endblock %}

{% block map_controllers %}
{% include "sparc2/_includes/map_breadcrumb.html" %}
{% include "geodash/_includes/map_legend.html" with legend_title="Legend - Click to Open" %}
{% if hazard != "drought" %}
{% include "geodash/_includes/map_filter.html" %}
{% include "geodash/_includes/map_sidebar_toggle_left.html" %}
{% endif %}
{% include "sparc2/_includes/map_calendar.html" %}
{% endblock %}

{% block extra_content %}
{% endblock %}

{% block footer %}{% include "sparc2/_includes/calendar.html" %}{% endblock %}
