{% extends "sparc2/map.html" %}

{% block title %}SPARC - {{ country_title }}{% endblock %}

{% block extra_head %}{{ block.super }}{% endblock %}

{% block init %}{{ block.super }}{% endblock %}

{% block sidebar_left %}{% endblock %}

{% block map_controllers %}
<div class="sparc-welcome-modals">
  <div
    id="sparc-modal-welcome"
    class="geodash-controller geodash-modal modal fade sparc-welcome"
    geodash-controller="sparc-modal-welcome"
    ng-controller="sparc-modal-welcome"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel">
    <div sparc-modal-welcome id="sparc-welcome"></div>
  </div>
</div>
{% endblock %}

{% block extra_content %}{% endblock %}

{% block footer %}{% endblock %}
